.header {

  background-color: #00d853;
  padding: 1%;
  border-radius: 5px;

  &__wrapper {
    margin-bottom: 50px;
  }

  &--title {
    color: white;
    font-family: $montserrat;
    margin-bottom: 2%;
    text-align: center;
  }

  &--subheader {
    display: flex;
    justify-content: center;
    color: white;
  }

  &--list {
    display: inherit;
    // background-color: grey;
    width: 90%;
    justify-content: space-evenly;
  }
}

.section {
  // background-color: #99ff99;
  border-radius: 20px;
  text-align: center;

  &.alt {
    // background-color: #80f280;
  }
}

.checkbox {
  & input[type="checkbox"] {
    opacity: 0;
  }

  & label::before{
    content: "";
    display: inline-block;

    height: 16px;
    width: 16px;

    border: 1px solid;
    top: 3px;
  }

  & label::after {
    content: '';
    display: inline-block;

    height: 6px;
    width: 9px;
    border-left: 2px solid;
    border-bottom: 2px solid;

    transform: rotate(-45deg);
    left: 4px;
    top: 7px;
  }

  & label::before {
    position: absolute;
  }

  & label::after {
    position: absolute;
  }

  & label {
    position: relative;
  }

  & input[type="checkbox"] + label::after {
      content: none;
  }

  & input[type="checkbox"]:checked + label::after {
      content: "";
  }

  & input[type="checkbox"]:focus + label::before {
      outline: rgb(59, 153, 252) auto 5px;
  }

}

// .checkbox input[type="checkbox"] {
//   opacity: 0;
// }
//
// .checkbox label::before{
//   content: "";
//   display: inline-block;
//
//   height: 16px;
//   width: 16px;
//
//   border: 1px solid;
//   top: 3px;
// }
//
// .checkbox label::after {
//   content: '';
//   display: inline-block;
//
//   height: 6px;
//   width: 9px;
//   border-left: 2px solid;
//   border-bottom: 2px solid;
//
//   transform: rotate(-45deg);
//   left: 4px;
//   top: 7px;
// }
//
// .checkbox label::before,
// .checkbox label::after {
//   position: absolute;
// }
//
// .checkbox label {
//   position: relative;
// }
//
// .checkbox input[type="checkbox"] + label::after {
//     content: none;
// }
//
// .checkbox input[type="checkbox"]:checked + label::after {
//     content: "";
// }
//
// .checkbox input[type="checkbox"]:focus + label::before {
//     outline: rgb(59, 153, 252) auto 5px;
// }

.dog {
  &__image {
    max-width: 500px;
    box-shadow: 5px 5px 10px 1px rgba(0, 0, 0, 0.2);
    justify-content: center;
    max-width: 500px;
    // &--default {
    //   width: 50%;
    // }
    //
    // &--new {
    //   width: 50%;
    //   box-shadow: 5px 5px 10px 1px rgba(0, 0, 0, 0.2);
    // }
  }

}

.stats {
  display: flex;
  justify-content: center;
  white-space: normal;
  width: 500px;
  color: green;
}


.image {
  display: flex;
  // background-color: #80f280;
  background-image: linear-gradient(#b2f7b2, #80f280);
  margin: 3%;
  border-radius: 20px;
  align-items: center;
  flex-direction: column;
  padding: 30px;
}

.image-button {
  box-shadow: 5px 5px 10px 1px rgba(0, 0, 0, 0.2);
  margin-bottom: 3%;
  background-color: #4a4a4a;
  cursor: pointer;
  width: 25%;
  padding-top: 1%;
  padding-bottom: 1%;
  border-radius: 5px;
  color: white;
  font-size: 90%;

  &:hover {
    background-color: #515151;
  }

  &:active {
      background-color: #424242;
  }

}
