.cart-page {
  &__container {
    padding-left: 12px;
    padding-right: 12px;

    @media screen and (min-width: $sm-break) {
      padding-left: 24px;
      padding-right: 24px;
    }

    @media screen and (min-width: $lg-break) {
      padding-left: 0;
      padding-right: 0;
    }
  }

  &__header {
    margin-top: 24px;
    margin-bottom: 24px;

    @media screen and (min-width: $sm-break) {
      margin-top: 48px;
      margin-bottom: 48px;
    }

    .button {
      width: 228px;
    }
  }

  &__left {

  }

  &__table {
    width: 100%;

    thead {
      left: -9999px;
      position: absolute;
      top: -9999px;

      @media screen and (min-width: $sm-break) {
        position: relative;
        left: 0;
        top: 0;
      }

      th {
        padding-bottom: 12px;
        text-align: left;

        &:nth-of-type(3) {
          text-align: center;
        }

        &:nth-of-type(4) {
          text-align: center;
        }

        &:nth-of-type(5) {
          text-align: center;
        }
      }
    }

    tbody {
      border-bottom: solid 1px $black;

      tr {
        border-top: solid 1px $black;
        display: flex;
        flex-wrap: wrap;

        @media screen and (min-width: $sm-break) {
          display: table-row;
        }
      }

      td {
        vertical-align: top;

        &:nth-of-type(1) {
          display: block;
          flex-basis: 77px;
          padding: 24px 0 0;

          img {
            width: 100%;
          }

          @media screen and (min-width: $sm-break) {
            display: table-cell;
            width: 14%;
            vertical-align: middle;
            padding: 24px 0;
          }
        }

        &:nth-of-type(2) {
          box-sizing: border-box;
          display: flex;
          flex-basis: calc(100% - 77px);
          flex-direction: column;
          flex-wrap: wrap;
          padding: 24px 0 0 24px;

          .remove-wrapper {
            flex-basis: 100%;
            flex-grow: 1;
            margin-top: 0;
            text-align: right;
          }

          @media screen and (min-width: $sm-break) {
            display: table-cell;
            width: 44%;
            vertical-align: middle;
            padding: 24px 0;
          }
        }

        &:nth-of-type(3) {
          display: block;
          text-align: center;
          padding: 0 0 24px 101px;

          @media screen and (min-width: $sm-break) {
            display: table-cell;
            width: 14%;
            vertical-align: middle;
            padding: 24px 0;
          }
        }

        &:nth-of-type(4) {
          text-align: right;
          padding: 0 0 24px 0;
          flex-grow: 1;
          color: $black;

          @media screen and (min-width: $sm-break) {
            display: table-cell;
            width: 14%;
            padding-left: 0;
            vertical-align: middle;
            text-align: center;
            color: $black;
          }
        }

        &:nth-of-type(5) {
          display: none;

          @media screen and (min-width: $sm-break) {
            display: table-cell;
            width: 14%;
            vertical-align: middle;
            text-align: center;
            padding: 24px 0;
          }
        }
      }
    }
  }

  &__number-input {
    input {
      display: none;
    }
  }

  &__qty-adjust {
    position: relative;
    width: 72px;
    height: 24px;
    bottom: 0;
    margin: 0 auto;

    svg {
      cursor: pointer;
      width: 24px;
      height: 24px;
    }
  }

  &__remove {
    width: 72px;
    padding: 0 !important;
    background-color: transparent !important;
    color: $black !important;
    opacity: .9;

    @media screen and (min-width: $sm-break) {
      margin: 0 auto;
    }
  }

  &__x {
    svg {
      width: 24px;
      height: 24px;
    }
  }

  &__qty-submit {
    width: 72px;
    padding: 0 !important;
    background-color: transparent !important;
    color: $black !important;
    margin-top: 12px;
  }

  &__right {
    text-align: center;
    padding-top: 0;
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 0;

    @media screen and (min-width: $lg-break) {
      text-align: left;
      padding-top: 28px;
    }
  }

  &__ship-msg {
    padding-top: 24px;
    border-top: solid 1px $black;

    @media screen and (min-width: $lg-break) {
      padding-top: 0;
      border-top: 0;
    }
  }

  &__subtotal {
    padding: 24px 0 !important;
    border-top: solid 1px $black;
    border-bottom: solid 1px $black;
  }

  &__checkout {
    margin-left: auto;
  }
}

.cart-page__filler {
  height: 242px;
  width: 100%;
  background: repeating-linear-gradient(
    45deg,
    white,
    white 10px,
    $black 10px,
    $black 12px
  );
  color: $black;
  font-weight: bold;
  font-size: 24px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}
