<!-- HOMEPAGE -->
<<<<<<< HEAD

<div class="container--md">
	<div class="row flush">
		<h1 class="util-margin-all-4">
			Test
		</h1>
	</div>
=======
<div class="index__button-wrap">
  <button class="button button--primary button--circle button--no-init-shadow margin-bottom--m cart-toggle">
    {% include 'svg', name: 'bag', class: 'cart-toggle__svg' %}
    <span class="type--s b cart-toggle__count hidden">
      0
    </span>
  </button>
  <button class="button button--light margin-bottom--m atc-button" data-variant-id="31215332786261" data-quantity="1">Add 1 of Variant 1 to Cart</button>
  <button class="button button--light margin-bottom--m atc-button" data-variant-id="31215332786261" data-quantity="2">Add 2 of Variant 1 to Cart</button>
  <button class="button button--dark margin-bottom--m atc-button" data-variant-id="31215333179477" data-quantity="1">Add 1 of Variant 2 to Cart</button>
  <button class="button button--dark margin-bottom--m atc-button" data-variant-id="31215333179477" data-quantity="2">Add 2 of Variant 2 to Cart</button>
  <a class="type--s cart-link" href="/cart">Cart Page</a>
>>>>>>> v2
</div>