<div class="pattern-library container--l gutters padding-both--m">
  <h1 class="pattern-library__heading type--xl margin-bottom--m">
    Pattern Library
  </h1 >
  <section class="pattern-library__section gutters">
    <h2 class="pattern-library__section__heading type--l margin-bottom--s">
      Clickables
    </h2>
    <section class="row margin-bottom--xs">
      <h3 class="pattern-library__section__heading type--m col-12 margin-bottom--xs">
        Buttons
      </h3>
      <section class="col-12 col-4--tblt row row--justify-center row--align-center padding-both--l">
        <button class="button">Button</button>
      </section>
      <section class="col-12 col-4--tblt row row--justify-center row--align-center padding-both--l bg--dark">
        <button class="button button--light">Button</button>
      </section>
      <section class="col-12 col-4--tblt row row--justify-center row--align-center padding-both--l">
        <button class="button" disabled>Disabled Button</button>
      </section>
      <section class="col-12 col-4--tblt row row--justify-center row--align-center padding-both--l bg--dark">
        <a class="button button--light" href="/pages/pattern-library" title="Pattern Library">Link Button</a>
      </section>
      <section class="col-12 col-4--tblt row row--justify-center row--align-center padding-both--l">
        <a class="button" href="/pages/pattern-library" title="Pattern Library">Link Button</a>
      </section>
      <section class="col-12 col-4--tblt row row--justify-center row--align-center padding-both--l bg--dark">
        <a class="button button--light">Disabled Link Button</a>
      </section>
    </section>
    <section class="row margin-bottom--xs">
      <h3 class="pattern-library__section__heading type--m col-12 margin-bottom--xs">
        Text
      </h3>
      <section class="col-12 col-4--tblt row row--justify-center row--align-center padding-both--l">
        <button class="button">Button</button>
      </section>
      <section class="col-12 col-4--tblt row row--justify-center row--align-center padding-both--l bg--dark">
        <button class="button button--light">Button</button>
      </section>
      <section class="col-12 col-4--tblt row row--justify-center row--align-center padding-both--l">
        <button class="button" disabled>Disabled Button</button>
      </section>
      <section class="col-12 col-4--tblt row row--justify-center row--align-center padding-both--l bg--dark">
        <a class="button button--light" href="/pages/pattern-library" title="Pattern Library">Link Button</a>
      </section>
      <section class="col-12 col-4--tblt row row--justify-center row--align-center padding-both--l">
        <a class="button" href="/pages/pattern-library" title="Pattern Library">Link Button</a>
      </section>
      <section class="col-12 col-4--tblt row row--justify-center row--align-center padding-both--l bg--dark">
        <a class="button button--light">Disabled Link Button</a>
      </section>
    </section>
  </section>
</div>