<div class="row margin-bottom--xl">
  <div class="col col-1 bg--test-purple"></div>
  <div class="col col-1 bg--test-green"></div>
  <div class="col col-1 bg--test-yellow"></div>
  <div class="col col-1 bg--test-pink"></div>
  <div class="col col-1 bg--test-yellow"></div>
  <div class="col col-1 bg--test-orange"></div>
  <div class="col col-1 bg--test-blue"></div>
  <div class="col col-1 bg--test-purple"></div>
  <div class="col col-1 bg--test-green"></div>
  <div class="col col-1 bg--test-red"></div>
  <div class="col col-1 bg--test-blue"></div>
  <div class="col col-1 bg--test-orange"></div>
</div>
<div class="container--l row margin-bottom--xl">
  <div class="col col-1 bg--test-purple"></div>
  <div class="col col-1 bg--test-green"></div>
  <div class="col col-1 bg--test-yellow"></div>
  <div class="col col-1 bg--test-pink"></div>
  <div class="col col-1 bg--test-yellow"></div>
  <div class="col col-1 bg--test-orange"></div>
  <div class="col col-1 bg--test-blue"></div>
  <div class="col col-1 bg--test-purple"></div>
  <div class="col col-1 bg--test-green"></div>
  <div class="col col-1 bg--test-red"></div>
  <div class="col col-1 bg--test-blue"></div>
  <div class="col col-1 bg--test-orange"></div>
</div>
<div class="row margin-bottom--xl">
  <div class="col col-6 bg--test-red"></div>
  <div class="col col-6 bg--test-orange"></div>
  <div class="col col-6 bg--test-yellow"></div>
  <div class="col col-6 bg--test-green"></div>
</div>
<div class="row margin-bottom--xl">
  <div class="col col-6 col-4--tblt col-3--dsktp bg--test-red"></div>
  <div class="col col-6 col-4--tblt col-3--dsktp bg--test-orange"></div>
  <div class="col col-6 col-4--tblt col-3--dsktp bg--test-yellow"></div>
  <div class="col col-6 col-4--tblt col-3--dsktp bg--test-green"></div>
  <div class="col col-6 col-4--tblt col-3--dsktp bg--test-blue"></div>
  <div class="col col-6 col-4--tblt col-3--dsktp bg--test-red"></div>
  <div class="col col-6 col-4--tblt col-3--dsktp bg--test-orange"></div>
  <div class="col col-6 col-4--tblt col-3--dsktp bg--test-yellow"></div>
</div>