{% comment %} allergens is just a test section to better understand schema syntax {% endcomment %}
{% section "allergens" %}



<div class="header__wrapper">
  <div class="header">
    <h1
    class="header--title">
    Thinking of Adopting a Dog??
    </h1>
    <h3 class="header--subheader">
      Here are some things to consider
    </h3>
      <div class="header--list">
        <div class="container--lg row justify-center">
        <p class="header--list-item col-2-lg col-3-md col-1-sm">
          Stuff
        </p>
        <p class="header--list-item col-2-lg col-3-md col-1-sm">
          Things
        </p>
        <p class="header--list-item col-2-lg col-3-md col-1-sm">
          Items
        </p>
      </div>
    </div>
  </div>
</div>

{% comment %} CMS-able blocks for practice, image or text based.{% endcomment %}
{% section "text-or-image" %}
<div class="container--lg row sections">
  {% comment %}
  <div class="section alt col-2-lg col-4-md col-6-sm" style="height: 200px;">


  </div>
{% endcomment %}
</div>

{% include 'vue-component' %}
{% comment %} dog-api fetching Vue instance {% endcomment %}
