{% layout 'password' %}
<section class="password-page">
  {% include 'svg', name: 'logo', class: 'password-page__logo margin-bottom--m' %}
  {% form 'storefront_password', class: 'password-page__form' %}
    {% if form.errors %}
      {% for field in form.errors %}
        {% if field == 'form' %}
          <span class="password-page__error type--s margin-bottom--s">{{ form.errors.messages[field] }}</span>
        {% else %}
          <span class="password-page__error type--s margin-bottom--s">{{ form.errors.translated_fields[field] }} - {{ form.errors.messages[field] }}</span>
        {% endif %}
      {% endfor %}
    {% endif %}
    <input aria-label="Password" type="password" name="password" id="input-password" class="input input--dark {% if form.errors %}error{% endif %}">
    <div class="password-page__button-wrap">
      <input aria-label="Sumbit" type="submit" name="submit" value="" class="button button--no-style">
      {% include 'svg', name: 'arrow', class: 'arrow' %}
    </div>
  {% endform %}
</section>