<div id="cart" class="global-cart" :class="{active: cartIsOpen}" v-cloak>
  <div class="global-cart__overlay" @click="toggleCart"></div>
  <div class="global-cart__drawer">
    <div class="global-cart__drawer__header">
      <span class="type--m heading">
        Bag
      </span>
      <button class="button button--no-style close" @click="toggleCart">
        {% include 'svg', name: 'x', class: 'close__svg' %}
      </button>
    </div>
    <div class="global-cart__drawer__error-bar" :class="{active: cartError}">
      <span class="type--s error">${ cartError }</span>
    </div>
    <ul class="list list--no-style global-cart__drawer__item-list">
      <line-item inline-template
      v-for="item in cartData.items"
      v-if="item.quantity > 0"
      :key="item.key"
      :item="item"
      :loading="loadingKeys.includes(item.key)"
      v-on:change-line="changeCart">
        <li class="item" :class="{loading: loading}">
          <div class="item__image-wrap">
            <a v-if="item.image" :href="item.url">
              <img :src="thumbnailImg" :alt="item.product_title">
            </a>
          </div>
          <div class="item__info-wrap">
            <span class="type--xs uppercase margin-bottom--xxs vendor">${ item.vendor }</span>
            <a class="type--s b no-u margin-bottom--xs title" :href="item.url">${ item.product_title }</a>
            <span v-for="option in item.options_with_values" class="type--s option">${option.name}: ${option.value}</span>
            <div class="bottom">
              <div class="qty-adjust-wrap">
                <button class="dec button--no-style" @click="changeLine(item.quantity - 1)">
                  {% include 'svg', name: '-' %}
                </button>
                <span class="type--s qty">${ item.quantity }</span>
                <button class="inc button--no-style" @click="changeLine(item.quantity + 1)">
                  {% include 'svg', name: '+' %}
                </button>
              </div>
              <div class="price-wrap">
                <span class="type--xs orig-price" v-if="item.total_discount > 0">${ animatedOrigPrice }</span>
                <span class="type--p b price" :class="{ sale: item.total_discount > 0 }">${ animatedPrice }</span>
              </div>
            </div>
          </div>
          <!-- <div class="cart-item__image-wrapper">
            <a v-if="item.image" :href="item.url">
              <img :src="thumbnailImg" :alt="item.product_title">
            </a>
          </div>
          <div class="cart-item__info-start">
            <p><a :href="item.url">${ item.product_title }</a></p>
            <p v-if="!item.variant_options[1]" class="no-u sm">${ item.variant_options[0] }</p>
            <p v-else class="no-u sm">${ item.variant_options[0] } / ${ item.variant_options[1] }</p>
            <p v-if="item.properties && item.properties.Date">Date: ${ item.properties.Date }</p>
            <div class="quantity">
              <button class="button--decrement" @click="changeLine(item.quantity - 1)">
                  &mdash;
              </button>
              <span class="cart-item__details__qty-adj-wrap__cur card-price">${ item.quantity }</span>
              <button class="button--increment" @click="changeLine(item.quantity + 1)">
                  &#43;
              </button>
            </div>
          </div>
          <div class="cart-item__info-end">
            <p class="pdp-price">${ animatedPrice }</p>
            <button class="no-style u" @click="changeLine(0)">Remove</button>
          </div> -->
        </li>
      </line-item>
    </ul>
    <div class="global-cart__drawer__footer">
      <span class="type--s margin-bottom--s">You’re $${animatedFromFreeShip} away from free shipping!</span>
      <a class="button button--dark margin-bottom--xs" :href="checkoutUrl">
        Checkout — $${animatedTotal}
      </a>
      <span class="type--xs no-b">Shipping & Taxes Calculated at Checkout</span>
    </div>
  </div>
</div>