<div class="ui-kit container-md">
	<div class="ui-kit__banner row">
		<h2 class="ui-kit__banner-title">
			TYPOGRAPHY
		</h2>
	</div>

	<div class="ui-kit-fonts ui-kit__row row">
		<div class="col-4-sm">
			<span class="ui-kit__font-letter font-family--primary">Aa</span>
			<p>
				Primary Font Family
			</p>
		</div>
		<div class="col-8-sm">
			<p class="font-family--primary">ABCDEFGHIJKLMNOPQRSTUVWXYZ</p>
			<p class="font-family--primary">abcdefghijklmnopqrstuvwxyz</p>
			<p class="font-family--primary">0123456789!?@#$%</p>
		</div>
	</div>

	<div class="ui-kit-fonts ui-kit__row row">
		<div class="col-4-sm">
			<span class="ui-kit__font-letter font-family--secondary">Aa</span>
			<p>
				Secondary Font Family
			</p>
		</div>
		<div class="col-8-sm">
			<p class="font-family--secondary">ABCDEFGHIJKLMNOPQRSTUVWXYZ</p>
			<p class="font-family--secondary">abcdefghijklmnopqrstuvwxyz</p>
			<p class="font-family--secondary">0123456789!?@#$%</p>
		</div>
	</div>

	<div class="ui-kit__section-line"></div>

	<div class="ui-kit__type-definition ui-kit__row row">
		<div class="col-8-sm">
			<h1>
				Heading 1
			</h1>
		</div>
		<div class="col-4-sm">
			<p>font-family: Font Family</p>
			<p>font-size: 48px</p>
			<p>line-height: 48px</p>
			<p>text-transform: uppercase</p>
		</div>
	</div>

	<div class="ui-kit__section-line"></div>

	<div class="ui-kit__type-definition ui-kit__row row">
		<div class="col-8-sm">
			<h2>Heading 2</h2>
		</div>
		<div class="col-4-sm">
			<p>font-family: Font Family</p>
			<p>font-size: 30px</p>
			<p>line-height: 36px</p>
		</div>
	</div>

	<div class="ui-kit__section-line"></div>

	<div class="ui-kit__type-definition ui-kit__row row">
		<div class="col-8-sm">
			<h3>Heading 3</h3>
		</div>
		<div class="col-4-sm">
			<p>font-family: Font Family</p>
			<p>font-size: 18px</p>
			<p>line-height: 24px</p>
			<p>font-weight: 500</p>
		</div>
	</div>

	<div class="ui-kit__section-line"></div>

	<div class="ui-kit__type-definition ui-kit__row row">
		<div class="col-8-sm">
			<h4>Subheader</h4>
		</div>
		<div class="col-4-sm">
			<p>font-family: Font Family</p>
			<p>font-size: 14px</p>
			<p>line-height: 24px</p>
			<p>letter-spacing: 0.5px</p>
			<p>font-size: 500</p>
		</div>
	</div>

	<div class="ui-kit__section-line"></div>

	<div class="ui-kit__type-definition ui-kit__row row">
		<div class="col-8-sm">
			<p>Paragraph</p>
		</div>
		<div class="col-4-sm">
			<p>font-family: Font Family</p>
			<p>font-size: 14px</p>
			<p>line-height: 24px</p>
			<p>letter-spacing: 1.5px</p>
		</div>
	</div>

	<div class="ui-kit__section-line"></div>

	<div class="ui-kit__type-definition ui-kit__row row">
		<div class="col-8-sm">
			<p class="paragraph--large">Paragraph Large</p>
		</div>
		<div class="col-4-sm">
			<p>font-family: Hoboken Large</p>
			<p>font-size: 30px</p>
			<p>line-height: 48px</p>
		</div>
	</div>

	<div class="ui-kit__section-line"></div>

	<div class="ui-kit__type-definition ui-kit__row row">
		<div class="col-8-sm">
			<a href="#">Text Link</a>
		</div>
		<div class="col-4-sm">
			<p>font-family: Font Family</p>
			<p>font-size: 14px</p>
			<p>line-height: 24px</p>
			<p>letter-spacing: 0.5px</p>
			<p>font-style: italic</p>
		</div>
	</div>

	<div class="ui-kit__section-line"></div>

	<div class="ui-kit__type-definition ui-kit__row row">
		<div class="col-8-sm">
			<p class="product-heading">Product Heading</p>
		</div>
		<div class="col-4-sm">
			<p>font-family: Font Family</p>
			<p>font-size: 14px</p>
			<p>line-height: 18px</p>
			<p>letter-spacing: 1.5px</p>
			<p>font-weight: 500</p>
		</div>
	</div>

	<div class="ui-kit__section-line"></div>

	<div class="ui-kit__type-definition ui-kit__row row">
		<div class="col-8-sm">
			<p class="product-heading">Product Paragraph</p>
		</div>
		<div class="col-4-sm">
			<p>font-family: Font Family</p>
			<p>font-size: 14px</p>
			<p>line-height: 18px</p>
			<p>letter-spacing: 1.5px</p>
		</div>
	</div>
</div>
