<div class="ui-kit container-md">
	<div class="ui-kit__banner row">
		<h4 class="ui-kit__banner-title">PALLETE</h4>
	</div>

	<div class="ui-kit__row">
		<div class="row">
			<div class="col-auto">
				<p class="ui-kit__utility">Primary</p>
			</div>
		</div>

		<div class="row">
			<div class="col-2-md">
				<div class="ui-kit__palette-color wip-black"></div>
				<p class="ui-kit__utility">WIP Black</p>
				<p class="ui-kit__color-hex">#333537</p>
			</div>
			<div class="col-2-md">
				<div class="ui-kit__palette-color wip-orange"></div>
				<p class="ui-kit__utility">WIP Orange</p>
				<p class="ui-kit__color-hex">#F3410</p>
			</div>
			<div class="col-2-md">
				<div class="ui-kit__palette-color white"></div>
				<p class="ui-kit__utility">White</p>
				<p class="ui-kit__color-hex">#FFFFFF</p>
			</div>
		</div>
	</div>


	<div class="ui-kit__section-line"></div>

	<div class="ui-kit__row">
		<div class="row">
			<div class="col-auto">
				<p class="ui-kit__utility">Secondary</p>
			</div>
		</div>
		<div class="row">
			<div class="col-2-md">
				<div class="ui-kit__palette-color off-white"></div>
				<p class="ui-kit__utility">Off White</p>
				<p class="ui-kit__color-hex">#EFEFEF</p>
			</div>
			<div class="col-2-md">
				<div class="ui-kit__palette-color light-grey"></div>
				<p class="ui-kit__utility">Light Grey</p>
				<p class="ui-kit__color-hex">#DDDDDD</p>
			</div>
			<div class="col-2-md">
				<div class="ui-kit__palette-color grey"></div>
				<p class="ui-kit__utility">Grey</p>
				<p class="ui-kit__color-hex">#B6B6B6</p>
			</div>
			<div class="col-2-md">
				<div class="ui-kit__palette-color dark-grey"></div>
				<p class="ui-kit__utility">Dark Grey</p>
				<p class="ui-kit__color-hex">#6D6D6D</p>
			</div>
			<div class="col-2-md">
				<div class="ui-kit__palette-color true-black"></div>
				<p class="ui-kit__utility">True Black</p>
				<p class="ui-kit__color-hex">#2E3031</p>
			</div>
		</div>
	</div>
</div>
