<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script>
document.addEventListener('DOMContentLoaded', () => {
  new Vue({
    el: '#app',
    // components: { App },
    // template: '<App/>',

  data: {
      msg: 'The dogs:',
      checked: true,
      image: '',
      picked: '',
      checkedStatement: ''
  },
  mounted: function() {
    console.log(this.$el);
  },
  methods: {
    resetImage: function(json) {
      this.image = json.message
    },
     getInfo: function() {
       console.log('clicked');
      fetch('https://dog.ceo/api/breeds/image/random')
      .then(resp => resp.json())
      // .then(json => console.log(json.message))
      .then(json => this.resetImage(json))
    },
    checked: function() {
      // if (this.picked === 'Bad') {
      //   alert('False!')
      // }
      // console.log('');
    }
  },
  delimiters: ['${', '}']
  })
})

</script>


<div id="app" class="image">
  <button class="image-button" v-on:click="getInfo"> Click Here</button>
  <div v-if="image !== ''">
    <img class="dog__image--new" :src="image" ></img>
  </div>
  <div v-else>
    <img class="dog__image-- default" src='https://images.dog.ceo/breeds/terrier-border/n02093754_909.jpg' ></img>
    <img class="dog__image" :src="image" ></img>
  </div>
  <p>Is this a good dog?</p>
  <!-- <input v-on:click="checked" type="checkbox" id="checkbox" v-model="checked">
  <label for="checkbox">${checked}</label> -->
  <div class="">
    <input type="radio" id="good" value="Good" v-model="picked">
    <label for="good">Good</label>
    <br>
    <input type="radio" id="bad" value="Bad" v-model="picked">
    <label for="bad">Bad</label>
    <br>
    <span>Picked: {{ picked }}</span>

  </div>

</div>
