<div class="activate__container">
  <h2>Activate Your Account</h2>
  <p>Create your password below to activate your account.</p>
  {% form 'activate_customer_password', class: "activate__form" %}
    {%- if form.errors -%}
      {{ form.errors | default_errors }}
    {%- endif -%}
    <input type="password" name="customer[password]" id="CreatePassword" class="{% if form.errors contains 'password' %} input--error{% endif %}" placeholder="Password">
    <input type="password" name="customer[password_confirmation]" id="CustomerPasswordConfirmation" placeholder="Confirm Password">

    <input type="submit" value="Sign Up" class="button dark">
    <input type="submit" name="decline" value="Decline Invitation" class="button dark">
  {% endform %}
</div>
