<div class="reset__container">
  <h2>Reset Password</h2>
  <p>Enter a new password here:</p>
  {% form 'reset_customer_password', class: "reset__form" %}
    {%- if form.errors -%}
      {{ form.errors | default_errors }}
    {%- endif -%}
    <input type="password" value="" name="customer[password]" placeholder="New Password" onfocus="this.placeholder = ''" onblur="this.placeholder = 'New Password'">
    <input type="password" value="" name="customer[password_confirmation]" placeholder="Confirm New Password" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Confirm New Password'">
    <input type="submit" class="button dark" value="Submit">
  {% endform %}
</div>
