{% schema %}
{
  "name": "allergens",
  "settings": [
  {
    "type": "text",
    "id": "prompt",
    "label": "Prompt"
  }
  ]
}
{% endschema %}

<div class="allergen-wrapper">
  <div class="prompt-wrapper">

    <h1>
      {{section.settings.prompt}}
    </h1>

  </div>
</div>
