a,
button,
input,
select {
  &:focus {
    outline: dotted 1px $color--primary;
  }
}

.button {
  @extend %type--button;
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 48px;
  padding: 0 16px;
  color: $color--white;
  text-align: center;
  cursor: pointer;
  background-color: $color--dark--dark;
  border: 0;
  border-radius: 2px;
  box-sizing: border-box;
  transition: background-color $base-transition--quick;

  &:hover {
    background-color: $color--dark--light;
  }

  &:focus {
    border: solid 2px $color--primary;
    outline: none;
  }

  &:active {
    background-color: $color--dark--lighter;
  }

  &:disabled,
  &:not(button) {
    &:not([href]) {
      cursor: not-allowed;
      background-color: $color--light--darker;
    }
  }

  &--light {
    color: $color--dark--dark;
    background-color: $color--light;

    &:hover {
      background-color: $color--light--dark;
    }

    &:focus {
      border: solid 2px $color--primary;
      outline: none;
    }

    &:active {
      background-color: $color--light--darker;
    }

    &:disabled,
    &:not(button) {
      &:not([href]) {
        cursor: not-allowed;
        background-color: $color--light--darker;
      }
    }
  }

  &--no-style {
    position: relative;
    display: inline-block;
    height: 0;
    padding: 0;
    text-decoration: none;
    cursor: pointer;
    background-color: $color--transparent;
    border: 0;
    border-radius: 0;
    box-shadow: none;
    appearance: none;
  }
}

.input {
  @extend %type--p;
  padding: $gutter--mbl;
  border: 0;
  border-radius: 0;
  box-sizing: border-box;

  @media screen and (min-width: $break--tblt) {
    padding: $gutter--tblt;
  }

  @media screen and (min-width: $break--dsktp) {
    padding: $gutter--dsktp;
  }

  &--light {
    color: $color--dark;
    background-color: $color--light;
    box-shadow: $color--darken-2 0 2px 1px -1px, $color--darken-1 0 1px 3px 0;
    transition: background-color $base-transition, box-shadow $base-transition;

    &:focus {
      background-color: $color--light--lighter;
      outline: none;
      box-shadow: $color--darken-2 0 4px 3px -2px, $color--darken-1 0 2px 9px 0;
    }
  }

  &--dark {
    color: $color--light;
    background-color: $color--primary--light;
    box-shadow: $color--darken-2 0 2px 1px -1px, $color--darken-1 0 1px 3px 0;
    transition: background-color $base-transition, box-shadow $base-transition;

    &:focus {
      background-color: $color--primary--lighter;
      outline: none;
      box-shadow: $color--darken-2 0 4px 3px -2px, $color--darken-1 0 2px 9px 0;
    }
  }

  &--no-style {
    position: relative;
    display: inline-block;
    padding: 0;
    background-color: $color--transparent;
    border: 0;
    border-radius: 0;
    appearance: none;
  }

  &.error {
    border: solid 2px $color--error;
  }
}

.list {
  &--no-style {
    margin: 0;
    list-style: none;
  }
}