a,
button,
input,
select {
  &:focus {
    outline: dotted 1px $color--primary;
  }
}

.button {
  @extend %type--p;
  position: relative;
  display: inline-block;
  padding: 12px;
  font-weight: 700;
  letter-spacing: 1px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  border: 0;
  border-radius: 0;
  box-shadow: $color--darken-2 0 2px 1px -1px, $color--darken-1 0 1px 3px 0;
  box-sizing: border-box;
  transition: color $base-transition, box-shadow $base-transition;

  &::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $color--transparent;
    content: "";
    transition: background-color $base-transition;
  }

  &:active {
    box-shadow: $color--darken-2 0 4px 3px -2px, $color--darken-1 0 2px 9px 0;

    &::after {
      background-color: $color--lighten-1;
    }
  }

  @media screen and (min-width: $break--tblt) {
    &:hover {
      box-shadow: $color--darken-2 0 4px 3px -2px, $color--darken-1 0 2px 9px 0;

      &::after {
        background-color: $color--lighten-1;
      }
    }

    &:active {
      box-shadow: $color--darken-2 0 2px 1px -1px, $color--darken-1 0 1px 3px 0;

      &::after {
        background-color: $color--transparent;
      }
    }
  }

  &--light {
    color: $color--dark;
    background-color: $color--light;

    &:active {
      color: $color--primary;
    }

    @media screen and (min-width: $break--tblt) {
      &:hover {
        color: $color--primary;
      }

      &:active {
        color: $color--dark;
      }
    }
  }

  &--dark {
    color: $color--light;
    background-color: $color--dark;
  }

  &--primary {
    color: $color--light;
    background-color: $color--primary;
  }

  &--circle {
    border-radius: 50%;

    &::after {
      border-radius: 50%;
    }
  }

  &--no-init-shadow {
    box-shadow: $color--transparent 0 0 0 0;

    @media screen and (min-width: $break--tblt) {
      &:active {
        box-shadow: $color--transparent 0 0 0 0;
      }
    }
  }

  &--no-shadow {
    box-shadow: $color--transparent 0 0 0 0;

    &:active {
      box-shadow: $color--transparent 0 0 0 0;
    }
  
    @media screen and (min-width: $break--tblt) {
      &:hover {
        box-shadow: $color--transparent 0 0 0 0;
      }

      &:active {
        box-shadow: $color--transparent 0 0 0 0;
      }
    }
  }

  &--no-lighten {
    &:active {
      &::after {
        background-color: $color--transparent;
      }
    }
  
    @media screen and (min-width: $break--tblt) {
      &:hover {
        &::after {
          background-color: $color--transparent;
        }
      }

      &:active {
        &::after {
          background-color: $color--transparent;
        }
      }
    }
  }

  &--no-style {
    position: relative;
    display: inline-block;
    padding: 0;
    text-decoration: none;
    cursor: pointer;
    background-color: $color--transparent;
    border: 0;
    border-radius: 0;
    box-shadow: none;
    appearance: none;

    &::after {
      display: none;
    }

    &:active {
      box-shadow: none;
    }
  
    @media screen and (min-width: $break--tblt) {
      &:hover {
        box-shadow: none;
      }

      &:active {
        box-shadow: none;
      }
    }
  }
}

.input {
  @extend %type--p;
  padding: 12px;
  border: 0;
  border-radius: 0;

  &--light {
    color: $color--dark;
    background-color: $color--light;
    box-shadow: $color--darken-2 0 2px 1px -1px, $color--darken-1 0 1px 3px 0;
    transition: background-color $base-transition, box-shadow $base-transition;

    &:focus {
      background-color: $color--light--lighter;
      outline: none;
      box-shadow: $color--darken-2 0 4px 3px -2px, $color--darken-1 0 2px 9px 0;
    }
  }

  &--dark {
    color: $color--light;
    background-color: $color--primary--light;
    box-shadow: $color--darken-2 0 2px 1px -1px, $color--darken-1 0 1px 3px 0;
    transition: background-color $base-transition, box-shadow $base-transition;

    &:focus {
      background-color: $color--primary--lighter;
      outline: none;
      box-shadow: $color--darken-2 0 4px 3px -2px, $color--darken-1 0 2px 9px 0;
    }
  }

  &--no-style {
    position: relative;
    display: inline-block;
    padding: 0;
    background-color: $color--transparent;
    border: 0;
    border-radius: 0;
    appearance: none;
  }

  &.error {
    border: solid 2px $color--error;
  }
}

.list {
  &--no-style {
    padding: 0;
    margin: 0;
    list-style: none;
  }
}