body {

  &.fixed {
     overflow: hidden;
  }
}

/*================ Width and Height Classes ================*/

.height--100 {
  height: 100%;

  &-vh {
    height: 100vh;
  }
}

.width--100 {
  width: 100%;
  &-vw {
    width: 100vw;
  }
}

/*================ Aspect Ratio Classes ================*/


.aspect-ratio--16x9 {
  width: 100vw;
  height: 56.25vw;

  &.header {
    @media screen and (min-width: $lg-break) {
      height: calc(56.25vw - 152px);
    }
  }
}

/*================ Overlay ================*/

.site-overlay {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  opacity: 0;
  visibility: hidden;
  transition: visibility 0s linear 500ms, opacity 500ms linear;

  &.active {
    opacity: 1;
    visibility: visible;
    transition-delay: 0s;
  }

  @media (max-width: $md-break) {
    display: none;
  }
}

/*================ Images ================*/

img,
picture {
  backface-visibility: hidden;
}

/*================ Hidden ================*/

.hidden-sm {
  @media screen and (max-width: $sm-break) {
    display: none;
  }
}

.hidden-md {
  @media screen and (max-width: $md-break) {
    display: none;
  }
}

.hidden-lg {
  @media screen and (max-width: $lg-break) {
    display: none;
  }
}

/*================ Postioning ================*/

.pos {
  &--rel {
    position: relative;
  }
  &--abs {
    position: absolute;
  }
}

/*================ Float ================*/

.float-right {
  float: right;
}

.float-left {
  float: left;
}

/*================ Drop Shadow ================*/

.drop-shadow {
  box-shadow: 0 1rem 24px 0 rgba(0,0,0,.12);
}

.drop-shadow--inset{ 
  box-shadow: inset 0 0 24px 0 rgba(0,0,0,0.20);
}

/*================ Display Helpers ================*/

.display {

  &--hidden {
    display: none;
  }

  &--block {
    display: block;
  }

  &--inline {
    display: inline;
  }

  &--inline-block {
    display: inline-block;
  }

  &--flex {
    display: flex;
  }

  &--desktop-hide {
    @media screen and (min-width: $lg-break-min) {
      display: none;
    }
  }

  &--tablet-hide {
    @media screen and (max-width: $lg-break-max) {
      display: none;
    }
  }

  &--mobile-hide {
    @media screen and (max-width: 767px) {
      display: none;
    }
  }

  &--mobile-only {
    @media screen and (min-width: $sm-break) {
      display: none;
    }
  }
}

/*================ Dividers ================*/

hr.divider {
  height: 1px;
  width: 100%;
  border: none;
  
  &.primary {
    background-color: $primary-color;
  }

  &.secondary {
    background-color: $secondary-color;
  }
}

/*================ Margin and Padding Classes ================*/

/// MARGIN

// auto
.margin--auto {
  margin: auto;
}

// margin-top
.margin-top--zero {
  margin-top: 0;
}

.margin-top--xs {
  margin-top: .5rem;
}

.margin-top--sm {
  margin-top: 1rem;
}

.margin-top--md {
  margin-top: 2rem;
}

.margin-top--lg {
  margin-top: 3rem;
}

.margin-top--xl {
  margin-top: 4rem;
}

// bottom

.margin-bttom--zero {
  margin-bttom: 0;
}

.margin-bottom--xs {
  margin-bottom: .5rem;
}

.margin-bottom--sm {
  margin-bottom: 1rem;
}

.margin-bottom--md {
  margin-bottom: 2rem;
}

.margin-bottom--lg {
  margin-bottom: 3rem;
}

.margin-bottom--xl {
  margin-bottom: 4rem;
}

// sides

.margin-sides--xs {
  margin-right: .5rem;
  margin-left: .5rem;
}

.margin-sides--sm {
  margin-right: 1rem;
  margin-left: 1rem;
}

.margin-sides--md {
  margin-right: 2rem;
  margin-left: 2rem;
}

.margin-sides-lg {
  margin-right: 3rem;
  margin-left: 3rem;
}

.margin-sides-xl {
  margin-right: 4rem;
  margin-left: 4rem;
}

// left

.margin-left--xs {
  margin-left: .5rem;
}

.margin-left--sm {
  margin-left: 1rem;
}

.margin-left--md {
  margin-left: 2rem;
}

.margin-left--lg {
  margin-left: 3rem;
}

.margin-left--xl {
  margin-left: 4rem;
}

// right

.margin-right--xs {
  margin-right: .5rem;
}

.margin-right--sm {
  margin-right: 1rem;
}

.margin-right--md {
  margin-right: 2rem;
}

.margin-right--lg {
  margin-right: 3rem;
}

.margin-right--xl {
  margin-right: 4rem;
}


/// PADDING

// top

.padding-top--xs {
  padding-top: .5rem;
}

.padding-top--sm {
  padding-top: 1rem;
}

.padding-top--md {
  padding-top: 2rem;
}

.padding-top--lg {
  padding-top: 3rem;
}

.padding-top--xl {
  padding-top: 4rem;
}

// bottom

.padding-bottom--xs {
  padding-bottom: .5rem;
}

.padding-bottom--sm {
  padding-bottom: 1rem;
}

.padding-bottom--md {
  padding-bottom: 2rem;
}

.padding-bottom--lg {
  padding-bottom: 3rem;
}

.padding-bottom--xl {
  padding-bottom: 4rem;
}

// sides

.padding-sides--none,
.row.padding-sides--none {
  padding-right: 0;
  padding-left: 0;
}

.padding-sides--xs {
  padding-right: .5rem;
  padding-left: .5rem;
}

.padding-sides--sm {
  padding-right: 1rem;
  padding-left: 1rem;
}

.padding-sides--md {
  padding-right: 2rem;
  padding-left: 2rem;
}

.padding-sides-lg {
  padding-right: 3rem;
  padding-left: 3rem;
}

.padding-sides-xl {
  padding-right: 4rem;
  padding-left: 4rem;
}

// left

.padding-left--xs {
  padding-left: .5rem;
}

.padding-left--sm {
  padding-left: 1rem;
}

.padding-left--md {
  padding-left: 2rem;
}

.padding-left--lg {
  padding-left: 3rem;
}

.padding-left--xl {
  padding-left: 4rem;
}

// right

.padding-right--xs {
  padding-right: .5rem;
}

.padding-right--sm {
  padding-right: 1rem;
}

.padding-right--md {
  padding-right: 2rem;
}

.padding-right--lg {
  padding-right: 3rem;
}

.padding-right--xl {
  padding-right: 4rem;
}

/*================ Text Alignment Classes ================*/

.text-align--center {
  text-align: center;
}

.text-align--right {
  text-align: right;
}

.text-align--left {
  text-align: left;
}

/*================ FLOAT ================*/

.float--center {
  float: center;
}

.float--right {
  float: right;
}

.float--left {
  float: left;
}

/*==================== Images =====================*/

img,
picture {
  backface-visibility: hidden;
}


/*================ Z-Index Classes ================*/

.z-bottom {
  z-index: 0;
}

.z-middle {
  z-index: 1;
}

.z-top {
  z-index: 2;
}

/*================ Color Background Classes ================*/

.bg--white {
  background-color: $white;
}

.bg--black {
  background-color: $black;
}

.bg--primary {
  background-color: $primary-color;
}

.bg--secondary {
  background-color: $secondary-color;
}

.bg--overlay {
  background-color: $overlay-color;
}

/*================ Background Size Classes ================*/

.bg--cover {
  background-size: cover;
}


/*================ Cursor ================*/

.cursor--pointer {
  cursor: pointer;
}