/*==== Grid ===*/

// Gutter size
$gutter: 12px;

// Grid size
$number-of-columns: 12;

// Breakpoints
$xs-break: 375px;
$sm-break: 768px;
$md-break: 992px;
$lg-break: 1188px;
$lg-break-max: 1187px;
$lg-break-min: 1188px;

/*==== Colors ===*/
$primary-color: #{'"{{ settings.primary_color }}"'};
$secondary-color: #{'"{{ settings.secondary_color }}"'};
$white: #FFF;
$black: #000;

$overlay-color: rgba(0,0,0,.35);

$error: red;

/*==== Typography ====*/
$base-font-size: #{'"{{ settings.base_font_size }}"'};

/*=== UI Kit ====*/
$ui-kit-banner-background: $primary-color;
$ui-kit-banner-title-color: $white;
